.about-us {
  .about-image {
    margin-bottom: 40px;
  }
  .about-content {
    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    .about-image {
      margin-bottom: 0;
    }
  }
}
