/* Appointment Form Styling Starts Here*/
$primary: #008586;

.appointment-form {
  padding: 80px 0;

  .appointment-form-wrapper {
    border: 1px solid $primary;
    padding: 24px 16px;
    border-radius: 12px;
  }

  h2 {
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .appointment-form {
    padding: 120px 0;

    .appointment-form-wrapper {
      padding: 20px;
    }
    h2 {
      margin-bottom: 40px;
    }
  }
}

/* Appointment Verification */

.auth {
  padding: 80px 0;

  .auth-content {
    max-width: 388px;
    text-align: center;
    margin: 0 auto;

    h2 {
      margin-bottom: 32px;
    }
    p {
      margin-bottom: 40px;
    }

    .auth-image {
      margin-bottom: 12px;
    }

    .auth-btn-group {
      a {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .auth {
    padding: 120px 0;

    .auth-content {
      h2 {
        margin-bottom: 40px;
      }
    }
  }
}

/* Success Styling*/
