{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthEase - Your Online Health Assistant</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/appointment.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/page-banner.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/about-us.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/team.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.media.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-content d-flex justify-content-between align-items-center">
          <div class="d-flex ham-group align-items-center">
            <button type="button " class="d-lg-none ham-icon">
              <img src="{% static 'assetsimages/ham.svg' %}" alt="" class="img-fluid" />
            </button>
            <a href="/" class="header-logo"> <span>Health</span>Ease </a>
          </div>
          <ul class="primary-menu d-lg-flex justify-content-end align-items-center">
            <li class="d-lg-none d-flex justify-content-between mobile-header">
              <a href="/" class="header-logo"> <span>Virtu</span>Care </a>
              <button type="button" class="ham-close">
                <img src="{% static 'assets/images/img.jpeg' %}" alt="" class="img-fluid" />
              </button>
            </li>
            <li>
              <a href="#about-us"> About Us </a>
            </li>
            <li>
              <a href="#doctors"> Doctors </a>
            </li>
            <li class="d-none d-lg-block">
              <a href="{% url 'appointment' %}" class="af-btn-filled">Appointment Now</a>
            </li>
          </ul>
          <a href="{% url 'appointment' %}" class="af-btn-filled d-lg-none">Appointment</a>
        </div>
      </div>
    </header>
    <a href="#" class="overlay"></a>

    <main>
      <section class="page-banner section-gap">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-xl-5">
              <div class="pb-image">
                <img src="{% static 'assets/images/rafiki.svg' %}" alt="" class="img-fluid"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pb-content">
                <h1>We take care of your health</h1>
                <p>A person who has good physical health is likely to have bodily function and processes working at their peak.</p>
                <a href="{% url 'appointment' %}" class="af-btn-outlined" style="color: #5cbdaa;">Appointment Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="about-us section-gap" id="about-us">
        <div class="container">
          <div class="section-title">
            <h2 class="text-md-center">About Us</h2>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-5">
              <div class="about-image">
                <img src="{% static 'assets/images/about-featured.jpg' %}" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-content">
                <h2>Take The World's Best Quality Treatment</h2>
                <p>
                  We started with a simple but challenging ethos, which we have tried to keep to this day.
                  That was to provide affordable, holistic and quality primary healthcare. We wanted to individualise health care plans for patients who came from all walks of life.
                </p>
                <a href="#" class="af-btn-outlined">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    <section class="services section-gap" id="services">

      <p> <span>Health</span>Ease </P>
    
        <div class="box-container">
    
            <div class="box">
                <i class="fas fa-notes-medical"></i>
                <h3>Checkups and Tests</h3>
                <p>Stay on top of your health with regular checkups and tests.</p>
                <a href="services/checkups.html" class="btn">Explore Now<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-ambulance"></i>
                <h3>24/7 Ambulance</h3>
                <p>24/7 care you can count on, anytime, anywhere.</p>
                <a href="services/ambulance.html" class="btn">Find Ambulances<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-user-md"></i>
                <h3>Expert Doctors</h3>
                <p>The expert care you need, right when you need it.</p>
                <a href="services/ourDoctors.html" class="btn">Find Doctors<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Medicines and Medical Equipment</h3>
                <p>Medicines and Medical equipment provided by best trusted partners in healthcare </p>
                <a href="services/store.html" class="btn">Buy Now<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-bed"></i>
                <h3>Bed Facility</h3>
                <p>Where healing meets compassion - your health is our top priority </p>
                <a href="services/hospitals.html" class="btn">Find Hospitals<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-heartbeat"></i>
                <h3>Stay Connected For New Services</h3>
                <p>Access to quality medical care, no matter where you are.</p>
            </div>
    
        </div>
    
    </section>
    

      <section class="about-us section-gap" id="about-us">
        <div class="container">
          <div class="section-title">
            <h2 class="text-md-center">Our Services</h2>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-5">
              <div class="about-image">
                <img src="{% static 'assets/images/doc.jpg' %}" alt="" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-content">
                <h2>Take The World's Best Quality Treatment</h2>
                <p>
                  Despite the increasing costs of practice, we have endeavoured to maintain the same quality care at the same affordability when we first started.
                </p>
                <a href="#" class="af-btn-outlined">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="team section-gap" id="doctors">
        <div class="container">
          <div class="section-title">
            <h2 class="text-md-center">Our <span>Doctors</span></h2>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="team-member">
                <div class="tm-image">
                  <img src="{% static 'assets/images/doctor-01.jpg' %}" alt="" class="img-fluid" />
                </div>
                <div class="tm-content">
                  <h3>Dr. Arjun Jhukal</h3>
                  <p>Dentist</p>

                  <ul class="d-flex justify-content-center">
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/facebook.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/instagram.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-member">
                <div class="tm-image">
                  <img src="{% static 'assets/images/doctor-02.jpg' %}" alt="" class="img-fluid" />
                </div>
                <div class="tm-content">
                  <h3>Dr. Ajul Shrestha</h3>
                  <p>Physician</p>

                  <ul class="d-flex justify-content-center">
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/facebook.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/instagram.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-member">
                <div class="tm-image">
                  <img src="{% static 'assets/images/doctor-03.jpg' %}" alt="" class="img-fluid" />
                </div>
                <div class="tm-content">
                  <h3>Prof. Ramesh Bohara</h3>
                  <p>Neurologist</p>

                  <ul class="d-flex justify-content-center">
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/facebook.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/instagram.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-member">
                <div class="tm-image">
                  <img src="{% static 'assets/images/doctor-01.jpg' %}" alt="" class="img-fluid" />
                </div>
                <div class="tm-content">
                  <h3>Dr. John Doe</h3>
                  <p>Gynecologist</p>

                  <ul class="d-flex justify-content-center">
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/facebook.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'assets/images/instagram.svg' %}" alt="" class="img-fluid" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
