@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 62px;
    line-height: 72px;
  }
  h2 {
    font-size: 44px;
    line-height: 54px;
  }
  .section-title {
    margin-bottom: 60px;
  }
  .section-gap {
    margin-bottom: 120px;
  }
}