.team .team-member {
  text-align: center;
  box-shadow: 4px 4px 4px 1px #f7f7f7;
}
.team .team-member .tm-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.team .team-member .tm-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .team-member .tm-content {
  padding: 20px 0;
}
.team .team-member .tm-content p {
  color: #008586;
  margin-bottom: 32px;
}
.team .team-member .tm-content ul {
  gap: 12px;
}
.team .row {
  --bs-gutter-y: 28px;
}